#popup, #popup_ok{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(102, 102, 102, .5);
}
#popup:target, #popup_ok:target{
    display: block;
}
#okno{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 550px;
    height: 472px;
    margin: auto;
    padding: 50px;
    color: #00c;
    border-radius: 10px;
    background: #fff;
}
#okno p{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #5c2dbb;
}
#okno input{
    font-size: 20px;
    width: 100%;
    height: 75px;
    margin: 0 0 35px 0;
    padding: 25px;
    text-align: left;
    color: #ababab;
    border: solid 1px #e2e2e2;
    border-radius: 15px;
    background-color: #fff;
}
.closer{
    font-size: 25px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 3px solid #5c2dbb;
    border-radius: 15px;
    background: #f2f2f2;
    background-color: #5c2dbb;
}
.closer:hover{
    text-decoration: none;
    color: #5c2dbb;
    background: #fff;
}
#okno h3{
  font-size: 30px;
  font-weight: bold;
  color: #222222;
}
#okno span{
  display: inline-block;
   font-size: 26px;
  color: #222222;
  margin: 0 0 30px 0;
}
#ok{
  margin: 29px auto;
  display: block;
  text-align: center;
}